.banner{
    width: 100%;
    height: 677px;
    background: url(../img/banner/index-banner-1.jpg) no-repeat;
}
.about{
    width: 100%;
    height: 100%;
}
.about_container{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 80px;
}
.about_left{
    width: 550px;
    margin-bottom: 60px;
    overflow: hidden;
    float: left;
}
.about_left li{
    float: left;
    width: 190px;
    height: 150px;
}
.about_left li img{
    width: 100%;
    height: 100%;
}
.about_left li:first-child{
    width: 340px;
    height: 320px;
    margin-right: 20px;
}
.about_left li:nth-child(2){
    margin-bottom: 20px;
}
.about_right{
    width: 550px;
    margin-right: 50px;
    float: right;
}
.about_right_title{
    margin: 40px 0;
    position: relative;
    font-size: 16px;
    color: #2b2b2b;
}
.about_right_title:after{
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background: #1864aa;
    bottom: -15px;
    left: 0;
}
.about_right p{
    color: #afafaf;
    line-height: 27px;
    font-size: 14px;
}
.about_title{
    display: block;
    width: 100%;
    height: 84px;
    margin: 5% auto 0;
    background: url(../img/title_bg.png) no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}
.about_title h2{
    display: block;
    font-size: 18px;
    color: #16466a;
    text-align: center;
    margin: 10px auto 0;
}
.about_title span{
    display: block;
    font-size: 12px;
    color: #9b9b9b;
    text-align: center;
    margin: 0 auto 0;
}

.about_s{
    width: 100%;
    height: auto;
    background: url(../img/beijing.jpg) no-repeat;
    padding: 50px 0;
    margin-bottom: 30px;
}
.about_science{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.about_science h3,.about_me h3{
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin: 20px auto;
}
.about_science p,.about_me p{
    font-size: 16px;
    color: #fff;
    line-height: 2;
    font-weight: 600;
}
.about_me{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.about_me h3,.about_me p{
    color: #000;
}
#map{
    width: 1200px;
    height: 400px;
    background-color: yellow;
    margin: 40px auto;
}