/* 公共部分 */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}
.header{
    background: rgb(45, 45, 45);
    text-align: center;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: all 0.45s ease-in-out;
}
.content {
    max-width: 1000px;
    padding: 0 10px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    background-color:blue;
}
.header .logo{
    font-size: 20px;
    float: left;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
}
.header .nav{ 
    float: right; 
    line-height: 60px;
    margin-right: 150px;
}
.header .nav li{ 
    display: block; 
    float: left; 
}
.header .nav li a{ 
    display: block; 
    padding: 0 25px; 
    font-size: 14px; 
    color: #fff;
}
.header .nav .active a{
    color:#ffdf43; 
}
.header .phone{
    float: right;
    padding-left: 35px;
    height: 24px;
    line-height: 24px;
    margin-right: 20px;
    margin-top: 18px;
    background: url(../img/footer/phone.png) 0 center no-repeat;
    color: #fff;
}
/* 底部 */
.footerBox{
    height: 413px;
    overflow: hidden;
    background-image: url(../img/footer/footer-bg.jpg);
    background-size: 100% 100%;
    clear: both;
    margin-top: 30px;
}
.footer {
    background-image: url(../img/footer/footer-bg.jpg);
    background-size: 100% 100%;
    padding-top: 65px;
    padding-bottom: 35px;
    color: #f1f3f8;
}
.box {
    width: 1200px;
    margin: 0 auto;
}
.footer .box .left {
    float: left;
}
.footer .box .left ul {
    float: left;
    margin-right: 45px;
}
.footer .box .left ul li {
    margin-bottom: 15px;
}
.footer .box .left ul li a {
    color: #8d8d8d;
}
.footer .box .left ul li:first-child {
    margin-bottom: 30px;
}
.footer .box .left ul li:first-child a {
    color: #fff;
}
.footer .right{
    float: right;
    padding-top: 20px;
}
.footer .right ul li{
    margin-bottom: 35px;
    padding-left: 30px;
    position: relative;
    width: 450px;
}
.footer .right ul li a{
    color: #fff;
}
.footer .box .right ul li:before {
    content: url(../img/footer/footer-icon-1.png);
    position: absolute;
    top: 2px;
    left: 0;
}
.footer .box .right ul li:nth-child(2):before {
    content: url(../img/footer/footer-icon-2.png);
}
.footer .box .right ul li:nth-child(3):before {
    content: url(../img/footer/footer-icon-3.png);
}
.footer .box .right ul li:nth-child(4):before {
    content: url(../img/footer/footer-icon-4.png);
}
.footer .box .right ul li:nth-child(2):after {
    position: absolute;
    content: url(../img/footer/code.png);
    right: 0;
    top: 20px;
}
.footer .copy{
    clear: both;
    text-align: center;
    color: #8d8d8d;
    padding-top: 38px;
}