/* 公共样式表css */
html,body {
    color: #333;
    margin: 0;
    font-family: "Myriad Set Pro","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: 0;
}

body {
    background: #fff;
    color: #666;
}

html, body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #08acee;
}

button {
    outline: 0;
}

img {
    border: 0;
}

button,input,optgroup,select,textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
}

li {
    list-style: none;
}

a {
    color: #666;
}

a:hover {
    color: #eee;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.banner{
    width: 100%;
    height: 677px;
    background: url(../img/banner/index-banner-1.jpg) no-repeat;
}
/* 必要布局样式css */
.large-content {
    height: 725px;
    /* background: url(../images/port-bg.png) no-repeat; */
    background-size: cover;
    background-position: center 50%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    padding: 80px 0;
}

.large-group {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: auto;
}
.title_t{
    display: block;
    width: 100%;
    height: 84px;
    margin: 5% auto 0;
    background: url(../img/title_bg.png) no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.title_t h2{
    display: block;
    font-size: 18px;
    color: #16466a;
    text-align: center;
    margin: 10px auto 0;
}
.title_t span{
    display: block;
    font-size: 12px;
    color: #9b9b9b;
    text-align: center;
    margin: 0 auto 0;
}
.large-switch-circle ul {
    font-size: 16px;
    color:#000;
    text-align: center;
    margin-top: 100px;
}

.large-switch-circle ul li {
    opacity: .8;
    cursor: pointer;
    margin: 0 20px;
    position: relative;
    display: inline-block;
}

.large-switch-circle ul li:hover {
    color: #ef19ef;
    opacity: 1;
}

.large-switch-circle ul .on {
    opacity: 1;
}

.large-switch-circle ul .on:after {
    content: '';
    width: 20px;
    height: 1px;
    display: inline-block;
    background: #000;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
    animation: bigdata-underline-grow both .3s;
}

.large-switch-middle {
    width: 1200px;
    margin-top: 60px;
    position: absolute;
    z-index: 1;
}

.large-switch-middle ul li {
    cursor: pointer;
    width: 239px;
    height: 220px;
    color: #fff;
    overflow: hidden;
    float: left;
    margin: .5px;
    background-image: -webkit-linear-gradient(bottom, rgba(47, 42, 65, 0.5) 0%, #2e3d50 100%);
    background-image: -moz-linear-gradient(bottom, rgba(47, 42, 65, 0.5) 0%, #2e3d50 100%);
    background-image: -moz-linear-gradient(to top, rgba(47, 42, 65, 0.5) 0%, #2e3d50 100%);
    background-image: -o-linear-gradient(to top, rgba(47, 42, 65, 0.5) 0%, #2e3d50 100%);
    background-image: linear-gradient(to top, rgba(47, 42, 65, 0.5) 0%, #2e3d50 100%);
    background-repeat: repeat;
}

.large-switch-item {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.large-item-img {
    width: 60px;
    display: block;
    text-align: center;
    height: 80px;
    margin: 0 auto;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.large-item-img img {
    width: 50px;
    height: 50px;
}

.large-item-title {
    position: relative;
    text-align: center;
}

.large-item-title:after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 1px;
    background: #fff;
    bottom: -10px;
    left: calc(50% - 10px);
}

.large-item-text {
    opacity: .4;
    height: 0;
    margin: 20px 0;
    padding: 0 20px;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
    line-height: 20px;
}

.large-item-link {
    opacity: 0;
    display: block;
    width: 100px;
    margin: auto;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #fff;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.large-switch-middle .large-item-link:hover {
    color: #fff;
    border-color: #108cee;
    background: #108cee
}

.large-switch-middle .large-switch-item:hover {
    background-image: -webkit-linear-gradient(top, #406594 0%, rgba(87, 17, 118, 0.4) 100%);
    background-image: -moz-linear-gradient(top, #406594 0%, rgba(87, 17, 118, 0.4) 100%);
    background-image: -moz-linear-gradient(to bottom, #406594 0%, rgba(87, 17, 118, 0.4) 100%);
    background-image: -o-linear-gradient(to bottom, #406594 0%, rgba(87, 17, 118, 0.4) 100%);
    background-image: linear-gradient(to bottom, #406594 0%, rgba(87, 17, 118, 0.4) 100%);
    background-repeat: repeat
}

.large-switch-middle ul li:hover .large-item-img {
    height: 45px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin-top: 15px;
}

.large-switch-middle .large-switch-item:hover .large-item-img img {
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.large-switch-middle .large-switch-item:hover .large-item-text {
    height: initial;
}

.large-switch-middle .large-switch-item:hover .large-item-link {
    opacity: 1;
}

.large-switch-item .large-item-img {
    margin-top: 50px;
}

.large-switch-dx {
    position: relative;
    text-align: center;
    line-height: 212px;
}

.large-switch {
    width: 100%;
}






.bg-grey {
	background-color: #f2f2f4;
	width: 100%;
	height: auto;
    margin: 200px 0 50px;
    padding-bottom: 50px;
}

.content1 {
	width: 1200px;
	margin: 0 auto;
    height: auto;
}

h2.title {
	text-align: center;
	font-size: 24px;
	color: #333;
	line-height: 24px;
	padding: 30px 0;
    position: relative;
    
}

h2.title:after {
	position: absolute;
	left: 50%;
	width: 46px;
	height: 1px;
	margin-left: -23px;
	background-color: #0c9;
	bottom: 0;
	content: '';
}

p.subtitle {
	margin-top: 18px;
	text-align: center;
	font-size: 16px;
	color: #666;
	line-height: 30px;
}

.tab-block {
	width: 1200px;
	height: 580px;
	margin: 50px auto 0;
	background-color: #FFF;
	border: 1px solid #e5e5e5
}

.tab-block.information-tab {
	height: 430px
}

.tab-block.information-tab .tabs {
	height: 380px
}

.tab-block .tab-buttons {
	width: 100%;
	height: 50px;
	background-color: #fafafa
}

.tab-block .tab-buttons .tab-button {
	width: 33.33%;
	float: left;
	height: 50px;
	text-align: center;
	font-size: 16px;
	color: #999;
	line-height: 50px;
	position: relative;
	cursor: pointer
}

.tab-block .tab-buttons .tab-button.cur {
	background-color: #fff;
	color: #333
}

.tab-block .tab-buttons .tab-button.cur:after {
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #1183ff
}

.tab-block .tabs {
	width: 100%;
    height: 528px;
    margin-bottom: 50px;
}

.tab-block .tabs .tab-item {
	width: 100%;
	height: 100%;
	padding: 20px;
    display: none;
}

.tab-block .tabs .tab-item.active {
	display: block
}

.information-tab .information-left {
	width: 500px;
	height: 340px;
	overflow: hidden;
	position: relative;
	float: left;
}

.information-tab .information-left img {
	width: 100%;
	height: auto
}

.information-tab .information-left .left-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
	line-height: 48px;
	background-color: rgba(0, 0, 0, .5);
	z-index: 2;
	color: #fff;
	padding: 0 14px
}

.information-tab .information-left .left-bottom .article-title {
	font-size: 18px;
	width: 400px;
	float: left;
}

.information-tab .information-left .left-bottom .article-time {
	font-size: 14px;
	float: right;
}

.information-tab .information-right {
	width: 640px;
	height: 340px;
	float: right;
}

.information-tab .information-right .article-list {
	padding-top: 20px
}

.information-tab .information-right .article-list .article-link {
	display: block;
	padding: 0 20px
}

.information-tab .information-right .article-list .article-link .article-head span {
	display: inline-block;
	vertical-align: middle
}

.information-tab .information-right .article-list .article-number {
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: #fff;
	background-color: #999;
	font-size: 14px
}

.information-tab .information-right .article-list .article-title {
	font-size: 16px;
	color: #333;
	line-height: 20px;
	margin-left: 14px;
	width: 450px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.information-tab .information-right .article-list .article-time {
	float: right;
	font-size: 12px;
	color: #999;
	line-height: 20px
}

.information-tab .information-right .article-list .article-content {
	margin-top: 10px;
	padding-left: 44px;
	width: 450px;
	font-size: 14px;
	color: #666;
	line-height: 26px;
	display: none
}

.information-tab .information-right .article-list .article-content p {
	height: 52px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
}

.information-tab .information-right .article-list:nth-of-type(1) .article-number,
.information-tab .information-right .article-list:nth-of-type(2) .article-number,
.information-tab .information-right .article-list:nth-of-type(3) .article-number {
	background-color: #333
}

.information-tab .information-right .article-list.current .article-link {
	background-color: #fafafc;
	padding: 20px
}

.information-tab .information-right .article-list.current .article-number {
	background-color: #0c9!important
}

.information-tab .information-right .article-list.current .article-title {
	color: #0c9
}

.information-tab .information-right .article-list.current .article-content {
	display: block
}

.question-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	background: url(../images/question-icon.png) center no-repeat;
	-ms-background-size: 16px 16px;
	background-size: 16px 16px;
}