.banner{
    width: 100%;
    height: 677px;
    background: url(../img/banner/index-banner-1.jpg) no-repeat;
}
.servies_box_top{
    width: 1200px;
    margin: 0 auto;
}
.title_t{
    display: block;
    width: 100%;
    height: 84px;
    margin: 5% auto 0;
    background: url(../img/title_bg.png) no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.title_t h2{
    display: block;
    font-size: 18px;
    color: #16466a;
    text-align: center;
    margin: 10px auto 0;
}
.title_t span{
    display: block;
    font-size: 12px;
    color: #9b9b9b;
    text-align: center;
    margin: 0 auto 0;
}
.auto-box{width:100%;height:auto;padding:30px 0 40px;background:#fff}
.main-box{height:auto;margin:0 auto}
.index-tit{padding:40px 0;text-align:center}
.index-tit h1{font-size:30px;color:#363f45;font-weight:normal}
.index-tit p{font-size:20px;color:#abb0b4;padding-top:15px}
.index-tserver{width:100%;background:url('../images/360server-line.png') no-repeat center 125px;box-sizing:border-box;text-align:center;padding:0 2.6%}
.index-tserver li{width:24.8%;min-width:162px;height:162px;text-align:center;box-sizing:border-box;padding-top:106px;font-size:14px;color:#656d73;display:inline-block;position:relative;cursor:pointer;margin-bottom:10px;margin-left:-0.1%}
.index-tserver li.tserver-list1{background:url('../images/360server-icon1.png') no-repeat center top}
.index-tserver li.tserver-list2{background:url('../images/360server-icon2.png') no-repeat center top}
.index-tserver li.tserver-list3{background:url('../images/360server-icon3.png') no-repeat center top}
.index-tserver li.tserver-list4{background:url('../images/360server-icon4.png') no-repeat center top}
.index-tserver li.tserver-list5{background:url('../images/360server-icon5.png') no-repeat center top}
.index-tserver li.tserver-list6{background:url('../images/360server-icon6.png') no-repeat center top}
.index-tserver li.tserver-list7{background:url('../images/360server-icon7.png') no-repeat center top}
.index-tserver li p{width:162px;height:162px;display:inline-block;position:absolute;top:0;left:50%;margin-left:-81px;border-radius:81px;padding:40px 30px;box-sizing:border-box;text-align:left;font-size:14px;line-height:22px;background:linear-gradient(111deg,#04bde4,#1067fe);display:none}
.index-tserver li p a{color:#fff}
.index-tserver li p.animated{animation-duration:.5s;animation-fill-mode:both}
.index-tserver li:hover p{display:block}
.index-tserver-ad{width:100%;margin-top:60px;background:#f3f3f3;text-align:center;padding:40px 0}
.index-tserver-ad li{display:inline-block;color:#abb0b4;font-size:16px;padding:0 3%}
.index-tserver-ad li img{vertical-align:middle;display:inline-block;margin-right:5px}
.index-tserver-ad li+li{border-left:1px solid #e2e3e4}
.zoomin{animation-name:zoomin}
@keyframes zoomin{0%{opacity:0;transform:scale(.3)}
50%{opacity:1}
}



a:hover {
    color: #eee;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}


/* 必要布局样式css */
.cloud-content {
    padding: 80px 0;
}

.cloud-header {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.cloud-header h3 {
    font-weight: normal;
    text-align: center;
    margin-bottom: 40px;
    color: #333;
}

.cloud-header h3 em {
    display: block;
    margin-bottom: 14px;
    font-style: normal;
    font-size: 30px;
}

.cloud-header h3 span {
    font-size: 16px;
    opacity: .6;
}

.cloud-wrapper .cloud-card {
    float: left;
    padding: 20px 30px;
    cursor: pointer;
    min-height: 310px;
    background: transparent;
    width: calc(33% - 60px);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

.cloud-card-image {
    height: 200px;
    overflow: hidden;
    position: relative;
}

.cloud-card-text {
    margin-top: 10px;
    color: #666;
    font-size: 14px;
    line-height: 24px;
}

.cloud-card-image-back {
    width: 100%;
    height: 200px;
    background: url(../images/cloud001.png) no-repeat center;
    background-size: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
}

.cloud-card-image .cloud-card-image-back {
    z-index: 0;
    position: absolute;
}

.cloud-card-image-title {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 200px;
    position: absolute;
    z-index: 1;
}

.cloud-wrapper .cloud-card:hover .cloud-scale {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2)
}

.cloud-wrapper .cloud-card:hover {
    background: #fff;
    -webkit-box-shadow: 0 0 25px rgba(186, 204, 207, 0.7);
    -moz-box-shadow: 0 0 25px rgba(186, 204, 207, 0.7);
    box-shadow: 0 0 25px rgba(186, 204, 207, 0.7);
}

.cloud-card-image-back01 {
    width: 100%;
    height: 200px;
    background: url(../images/cloud002.png) no-repeat center;
    background-size: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
    z-index: 0;
    position: absolute;
}

.cloud-card-image-back02 {
    width: 100%;
    height: 200px;
    background: url(../images/cloud003.png) no-repeat center;
    background-size: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
    z-index: 0;
    position: absolute;
}

.video .container{width:1200px;margin:0 auto;padding:0;}

.index-title{font-size:16px;text-align:center;padding:50px 0;}
.index-title h2{font-size:36px;font-family:"Microsoft Yahei";font-weight:400;}
.index-title a{width:100px;height:36px;line-height:36px;border:1px solid #DBDCE0;text-align:center;font-size:14px;display:block;margin:25px auto 0;transition:all .2s;}
.index-title a:hover{background:#F96A69;color:inherit;border-color:#F96A69;color:#fff;}

.video .inner{display:block;cursor:pointer;}
.video .inner img{transition:all .4s;}
.video .inner:hover img{transform:scale(1.05);}
.video .vr-big{float:left;width:766px;height:484px;margin-bottom:20px;position:relative;overflow:hidden;}
.video .vr-big .text{position:absolute;left:0;right:0;bottom:0;color:#fff;padding:0 30px 20px 30px;font-size:16px;}
.video .vr-big .text h3{font-size:24px;margin-bottom:4px;}
.video .vr-big .link{width:130px;height:48px;font-size:16px;line-height:48px;text-align:center;position:absolute;z-index:2;right:30px;bottom:20px;border:1px solid #eee;color:#fff;transition:all .2s;}
.video .vr-big .link:hover{background:#F96A69;border-color:#F96A69;color:#fff;}
.video .vr-big .play{width:83px;height:83px;background:rgba(0,0,0,.4) url(../images/video/3f_play_left.png) no-repeat center center;position:absolute;left:50%;top:50%;margin:-21px 0 0 -21px;border-radius:50%;cursor:pointer;transition:all .2s;}
.video .vr-big .play:hover{background-color:rgba(0,0,0,.6);}
.video .vr-right{float:left;width:412px;margin-left:22px;}
.video .vr-small{margin-bottom:20px;width:412px;height:232px;position:relative;overflow:hidden;}
.video .vr-small .text{position:absolute;left:0;right:0;bottom:0;padding:0 20px 20px 20px;font-size:16px;color:#fff;}
.video .vr-small .link{width:30px;height:30px;position:absolute;background:url(../images/video/3f_icon.png) no-repeat center center;right:20px;bottom:14px;z-index:2;transition:all .2s;}
.video .vr-small .link:hover{background-image:url(../images/3f_icon_02.png);}
.video .vr-small .play{width:51px;height:51px;background:rgba(0,0,0,.4) url(../images/video/3f_play_right.png) no-repeat center center;position:absolute;left:50%;top:50%;margin:-25px 0 0 -25px;border-radius:50%;cursor:pointer;transition:all .2s;}
.video .vr-small .play:hover{background-color:rgba(0,0,0,.6);}