.banner{
    width: 100%;
    height: 644px;
}
.banner img{
    width: 100%;
    height: 100%;
}
.swiper-container, .swiper-wrapper, .swiper-slide{
    width: 100%;
    height: 644px;
}
.swiper-container{
    /* --swiper-theme-color: #ff6600;设置Swiper风格 */
    --swiper-navigation-color: #fff;/* 单独设置按钮颜色 */
    --swiper-navigation-size: 30px;/* 设置按钮大小 */
}
.swiper-button-prev{
    margin-left: 280px;
}
.swiper-button-next{
    margin-right: 280px;
}
.vr_banner_pages {
    line-height: 20px;
}

.vr_banner_pages .swiper-pagination-bullet {
    background: #fff;
    width: 10px;
    height: 10px;
    opacity: 1;
    border-radius: 10px;
    vertical-align: middle;
    cursor: pointer;
}           

.vr_banner_pages .swiper-pagination-bullet-active {
    width: 30px;
    height: 10px;
    margin-top: -12px;
}
/* 中心内容 */
.container{
    width: 100%;
    height: auto;
}
.c_left{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.title_t{
    display: block;
    width: 100%;
    height: 84px;
    margin: 5% auto 0;
    background: url(../img/title_bg.png) no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.title_t h2{
    display: block;
    font-size: 18px;
    color: #16466a;
    text-align: center;
    margin: 10px auto 0;
}
.title_t span{
    display: block;
    font-size: 12px;
    color: #9b9b9b;
    text-align: center;
    margin: 0 auto 0;
}
.features{
    margin: 30px 0 0;
}
.mytab{
    width: 45%;
    margin: 0 397px;
    overflow: hidden;
}
.mytab li{
    width: 100px;
    height: 40px;
    border: 1px #16466A solid;
    float: left;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.active1{
    background-color: rgb(59, 127, 252);
    color: #fff;
}
.mytab_nav{
    width: 100%;
    height: 300px;
    /* height: auto; */
    /* background-color: #e4c600; */
    margin: 30px 0;
    overflow: hidden;
}
.mytab_nav li{
    width: 100%;
    height: 100%;
}
.mytab_nav li>.img{
    width: 445px;
    height: 245px;
    margin-top: 32px;
    padding: 0 15px;
    /* background-color: rgba(0,0,0,0.4); */
    float: right;
}
.mytab_nav li>.img img{
    width: 100%;
    height: 100%;
}
.mytab_left{
    width: 54%;
    margin: 0 15px;
    float: left;
}
.mytab_left h4{
    font-size: 26px;
    color: #7542aa;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.mytab_left p{
    color: #999;
    line-height: 25px;
    font-style: italic;
    margin: 30px 0 20px;
}
.c_content{
    margin: 30px 0;
    width: 100%;
    height: auto;
    /* background-color: yellow; */
    overflow: hidden;
}
.c_content_t{
    width: 46.5%;
    height: 252px;
    float: left;
}
.c_content_t img{
    width: 100%;
    height: 100%;
}
.c_content_r{
    width: 47.16%;
    /* background-color: burlywood; */
    float: right;
}
.c_content_r h2{
    font-size: 16px;
    line-height: 24px;
    color: #737373;
    text-align: left;
    background: url(../img/about_line.png) no-repeat left top;
    padding-top: 3%;
}
.c_content_r h3{
    font-size: 16px;
    color: #e4c600;
    padding-top: 1.5%;
    text-align: left;
}
.c_content_r p{
    padding-top: 2%;
    font-size: 12px;
    color: #737373;
    line-height: 24px;
    text-align: justify;
}
.more_news{
    display: inline-block;
    width: auto;
    padding: 4px 16px;
    font-size: 14px;
    color: #fff;
    background: #DA251C;
    border-radius: 3px;
    margin: 4.025% auto;
    overflow: hidden;
    text-align: center;
}
.more_news:hover{
    background: #16466A;
}
.c_core{
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
}
.c_core_c{
    width: 100%;
    height: 800px;
    background-color: #fff;
    margin-bottom: 50px;
    box-shadow: 0px 0px 5px #f5f5f5;
}
.c_core_l{
    width: 100%;
    height: 380px;
    /* background-color: burlywood; */
}
.c_core_b{
    margin-top: 20px;
    padding: 0 10px;
    box-sizing: border-box;
}
.c_core_b li img{
    width: 100%;
    height: 200px;
}
.c_core_l img{
    width: 60%;
    height: 100%;
    float: left;
}
.c_right{
    width: 38%;
    height: 100%;
    float: right;
}
.c_right .c_title2{
    width: 100%;
    height: 40px;
    padding: 10px 0;
    line-height: 40px;
    font-size: 25px;
}
.c_right p{
    width: 100%;
    height: 300px;
    margin-top: 15px;
    color: #afafaf;
    line-height: 27px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.c_core_b{
    width: 100%;
    /* height: 400px; */
}
.c_core_b li{
    width: 386.3px;
    height: 100%;
    float: left;
    margin-right: 10px;
}
.c_core_b li p{
    line-height: 27px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 10px 5px;
    box-sizing: border-box;
    color: rgb(143, 140, 140);
}
.c_core_b li:last-child{
    margin-right: 0;
}
.c_core_b li img{
    width: 100%;
    height: 100%;
}
.test_w{
    width: 100%;
    height: 170px;
    padding: 23px 0;
    overflow: hidden;
    background: url(../img/beijing.jpg) no-repeat 0 0;
    background-size: 100%;
}
.test_w .test_t{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.test_w .test_t ul{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.test_w .test_t ul li{
    float: left;
    width: 23.1%;
    margin-right: 2.5%;
    text-align: center;
}
.test_w .test_t ul li:last-child{
    margin-right: 0;
}
.test_w .test_t ul li img{
    margin-top: 15px;
    width: 40px;
    height: 45px;
}
.test_w .test_t ul li p{
    font-size: 16px;
    color: rgb(189, 173, 173);
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 5px;
}
.test_w .test_t ul li span{
    display: block;
    color: rgb(189, 173, 173);
    font-size: 14px;
    padding-bottom: 16px;
}
