.banner{
    width: 100%;
    height: 677px;
    background: url(../img/banner/index-banner-1.jpg) no-repeat;
}
.container{
    width: 100%;
    height: auto;
}
.servies_box{
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    overflow: hidden;
    margin-top: 50px;
}
.servies_top{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
}
.servies_top li{
    width: 580px;
    float: left;
    margin-bottom: 30px;
    margin-right: 40px;
    text-align: center;
}
.servies_top li:nth-child(2n){
    margin-right: 0;
}
.servies_top li .img{
    width: 100%;
}
.servies_top li img{
    vertical-align: middle;
    margin: 30px 0;
}
.servies_top li span{
    display: block;
    font-size: 20px;
    color: #ef4f19;
    padding: 20px 0;
    font-weight: 600;
}
.servies_top li p{
    color: #808080;
    font-size: 14px;
}
.servies_box1{
    width: 100%;
    height: 500px;
    margin: 190px 0;
}
.servies_c{
    width: 1200px;
    height:100%;
    margin: 0 auto;
    /* background-color: chartreuse; */
}
.servies_c_top{
    width: 700px;
    height: 80px;
    margin:0 auto;
}
.servies_c_top li{
    width: 150px;
    border-style: solid;
    font-size: 15px;
    background-color: #ef4f19;
    color: #ffffff;
    border: 1px solid #ef4f19;
    border-radius: 25px 25px 25px 25px;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
    float: left;
    margin-top: 20px;
    text-align: center;
    margin: 30px 20px;

}
.servies_c_top .active2{
    background-color: #a8a8a8;
    color: #ffffff;
    border: 1px solid #a8a8a8;
    font-weight: 400;
}
.servies_c_top .div{
    width: 312px;
    height: 100%;
    opacity: 0;
    cursor: default;
    float: left;
}
.servies_c_bottom{
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin-top: 60px;
}
.servies_c_bottom li{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}
.servies_bottom_left{
    width: 468px;
    margin:65px;
    float: left;
}
.servies_bottom_left span{
    display: block;
    font-size: 28px;
    color: #ef4f19;
    padding: 10px 0 20px;
}
.servies_bottom_left p{
    font-size: 15px;
    color: #808080;
    padding: 25px 0 11px;
}
.servies_bottom_right{
    width: 600px;
    float: right;
    height: 100%;
}
.servies_bottom_right img{
   width: 100%;
   height: 100%;
}
.servies_box_top{
    width: 1200px;
    margin: 0 auto;
}
.title_t{
    display: block;
    width: 100%;
    height: 84px;
    margin: 5% auto 0;
    background: url(../img/title_bg.png) no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.title_t h2{
    display: block;
    font-size: 18px;
    color: #16466a;
    text-align: center;
    margin: 10px auto 0;
}
.title_t span{
    display: block;
    font-size: 12px;
    color: #9b9b9b;
    text-align: center;
    margin: 0 auto 0;
}